* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100..900&family=Roboto:wght@100..900&display=swap");

.h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
}

nav {
  display: flex;
  color: #ffff;
  justify-content: space-between;
  font-size: 15px;
  padding: 15px;
}

header {
  background-image: url(qw.png);
  background-size: contain;
  height: 100vh;
  background-position: center;
  color: #ffff;
}

ol {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
}

body header nav li button {
  border: none;
  height: 6vh;
  width: 5vw;
  border-radius: 14px;
  font-weight: 1000;
  color: #000;
  font-size: 10px;
}

h3 {
  font-size: 37px;
  margin-top: 50px;
  justify-self: center;
  word-spacing: 10px;
  letter-spacing: 6px;
}

.arrow-down {
  justify-self: center;
  margin-top: 70px;
}

main {
  min-height: 160vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.box-2 {
  background-image: url(egg.png);
  background-position: center;
  background-size: cover;
}

.box-3 img {
  width: 100%;
  height: 100%;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.box-5 {
  background-image: url(cherry.png);
  background-position: center;
  background-size: cover;
}

.h4 {
  font-size: 44px;
  color: #000000dc;
  margin-bottom: 34px;
  font-weight: 1000;
}

.underline-1 {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #ff000056;
  margin-right: 225px;
}

.h4-1 {
  font-size: 37px;
  margin-left: 33px;
}

.graphics {
  display: flex;
  justify-content: center;
  font-size: 28px;
  padding-bottom: 0;
  position: relative;
  top: 120px;
  color: #045004;
  font-weight: 800;
}

.paragraph {
  color: #000000a1;
  font-size: 13px;
  margin-bottom: 29px;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: yellow;
  margin-right: 225px;
}

.design {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 150px;
  color: #045004ab;
}

.bo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box-6 {
  background-image: url(orange-fruit.png);
  background-position: center;
  background-size: cover;
}

.orange {
  position: relative;
  top: 180px;
}

.grid-test {
  justify-self: center;
  color: #0000005f;
  letter-spacing: 2px;
  word-spacing: 9px;
  margin-top: 100px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  height: 250px;
  width: 300px;
  margin-bottom: 80px;
}

.grid-testimonial {
  margin-top: 50px;
  margin-left: 150px;
}

.testimonial img {
  height: 55px;
  width: 55px;
  border-radius: 200px;
  margin-bottom: 40px;
}

.paragh {
  margin-bottom: 40px;
  font-size: 14px;
}

h6 {
  font-size: 17px;
}

.market {
  font-size: 14px;
  color: #0000009d;
}

.gallery {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  background: hsl(167, 41%, 57%);
  width: 98.8vw;
  height: 60vh;
}

#footer-services {
  margin-bottom: 30px;
  display: flex;
  gap: 25px;
  color: hsl(167, 38%, 21%);
  list-style: none;
}

.footer-sunnyside {
  margin-bottom: 50px;
  color: #215321;
  font-family: "Barlow", sans-serif;
  font-weight: 690;
}

#icon img {
  padding-right: 12px;
}
